// ==========================================================================
// Figure Atom
// ==========================================================================

figure {
    display: block;
    margin: spacing(25 0);

    img {
    	width: 100%;
    	margin-bottom: spacing(10);
    }
}
